<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requestst</title>
</head>
<body>
    <% requests.forEach(element => { %>
        <div style="padding: 20px; border-bottom: 1px solid black;">
            <nav>
                <ul>
                    <p>User:<%= element.User %></p>
                    <p>Booking Date:<%= element.SubmitDate %></p>
                    <p>Team Manager request Status:<%= element.request %></p>
                    <p>Admin request Status:<%= element.requestAdmin %></p>
                    <% if (isAuthenticated) { %>
                        <% if (user.Position == 'teamManager') { %>
                            <% if (element.request == 'pending') {%>
                                <form action="/requests" method="post">
                                    <input type="text" value="<%= element.id %>" name="id" style="visibility: hidden;">
                                    <button type="submit" value="approved" name="status">Approve</button>
                                    <button type="submit" value="rejected" name="status">Reject</button>
                                </form>
                            <% } %>
                        <% } else if (user.Position == 'admin') { %>
                            <% if (element.request == 'approved' && element.requestAdmin == 'pending') { %>
                                <form action="/requests" method="post">
                                    <input type="text" value="<%= element.id %>" name="id" style="visibility: hidden;">
                                    <button type="submit" value="approved" name="status">Approve</button>
                                    <button type="submit" value="rejected" name="status">Reject</button>
                                </form>
                            <% } %>
                        <% } %>
                    <% } %>
                </ul>
            </nav>
        </div>
    <% }) %>
</body>
</html>